:root {
    --theme-color: linear-gradient(60deg, rgb(170, 180, 150), rgb(77, 64, 48));
    --buttons-num-color: black;
    --button-clear:rgb(175, 228, 70);
    --button-operator: rgb(159, 159, 247);
    --background-calculator: rgb(202, 200, 200);
    --calculator-shadow: 0 0 30px rgb(54, 48, 77);
    --display-background:rgb(189, 179, 179);
    --button-operator-color: black;
    --button-number-background-color:rgb(151, 151, 151);
    --button-number-color:black;
    --button-toggler: rgb(53, 53, 53);
}

    :root[data-theme="dark"] {
    --theme-color: linear-gradient(60deg, rgb(108, 180, 202), rgb(54, 48, 77));
    --buttons-num-color: white;
    --button-clear:yellowgreen;
    --button-operator: rgb(106, 106, 245);
    --background-calculator: rgb(29, 29, 29);
    --calculator-shadow: 0 0 30px rgb(54, 48, 77);
    --display-background:rgb(53, 53, 53);
    --button-operator-color: #fff;
    --button-number-color:#fff;
    --button-number-background-color:#fff;
    --button-number-color:black;
    --button-toggler: yellowgreen;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 200ms ease;
}

body{
    background: var(--theme-color)
}

.titulo {
    margin: 2rem auto;
    text-align: center;
    position: absolute;
    left: 50%;
    translate: -50%;
}
.contenedor {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator {
    position: absolute;
    background-color: var(--background-calculator);
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: var(--calculator-shadow);
}
.display {
    height: 6rem;
    background-color: var(--display-background);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#display {
    height: 100%;
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: var(--button-clear);
    font-size: 2rem;
    font-weight: 400;
}

button{
    border-radius: 50%;
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    margin: 0.30rem;
    border: none;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

#clear {
    --button-clear:
    background-color: var(--button-clear)
    color: black;
}
.btn-operator {
    background-color: var(--button-operator);
    color: var(--button-operator-color);
}
.btn-number {
    background-color:var(--button-number-background-color) ;
    color: var(--button-number-color);
}


#equal {
    height: 6.6rem;
    border-radius: 1rem;
}

.theme-toggler {
    display: flex;
    justify-content: end;
    position: relative;
}
.toggler-dark, .toggler-light {
    color: var(--button-toggler);
    padding: 0rem;
    border-bottom: none;
    background-color: transparent;
    transition: all 200ms ease;
    position:absolute;
    top: -1.5rem;
    right: -1rem;
    background-color: none;
    width: 2rem;
    height: 2rem;
    scale: 1.3;
}


:root[data-theme="light"] .toggler-light {
    display: none;
}
:root[data-theme="dark"] .toggler-dark {
    display: none;
}